:root {
	--sptfygrn: #1DB954;
	--secondary: #afd4c9;
	--tertiary: #737f7f;
	--light-dark: black;
	--dark: blue;
	--border-radius: 0.3rem;
}

* {
	box-sizing: border-box;
}
#playlist {

margin: 15px 0 25px 0;
font-size: 50px;
padding-bottom: 10px;

}
.player{
	margin-left: 50px; 
	width: 90%; 
	height: 340px; 
	position: relative;
	margin-bottom: 0px;
}



#artist-name{
	background-color:#1a7e08;
	color: black;
	font-weight: 700;
	text-align: center;
	font-size: 25px;
}
#artist-name::first-letter{
	text-transform: capitalize;
};

.hide {
display: none;

}
#hide{
	display: none;
}
body {
	background-color: black;
	margin: 0;
	padding: 0;
	font-family: 'Gotham Rounded', sans-serif;
	color: var(--sptfygrn);
	line-height: 1.5;
	font-size: 16px;
}


h1,
h2,
h4,
h5,
h6 {
	font-weight: 700;
	margin: 0;
	color:var(--sptfygrn);
	line-height: 1.25;
}
h3 {
    font-weight:700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
    font-size: 1.50rem;
}

main {
	margin: 20px auto;
	width: 94%;
}

p {
    margin-top: 25px;
	font-size: 1.9rem;
    font-weight: 700;
}
.listed-album{
	font-size: 25px;
	font-weight: 800;
	text-decoration: none;
	padding: 12px 5px;
	width: 100%;
	display: block;
	margin: 15px 0;
	border-radius: 15px;
	color:black;
	border: none;
	outline: none;
	background-color:#28c20e;
	transform: translate(-1px, -1px);
}
.history-btn {
	font-size: 25px;
	font-weight: 800;
	text-decoration: none;
	padding: 6px 5px;
	width: 100%;
	display: block;
	margin: 15px 0;
	border-radius: var(--border-radius);
	color:black;
	border: none;
	outline: none;
	background-color:#28c20e;
	box-shadow: 3px 3px #0C8900;
	transform: translate(-1px, -1px);
}
.history-btn:hover{
	color:#0C8900;
	background-color: black;
	transform: translate(0, 0);
	box-shadow: 2px;
	cursor: pointer;
}
.btn {
	font-size: 25px;
	font-weight: 800;
	text-decoration: none;
	padding: 6px 5px;
	width: 100%;
	display: block;
	margin: 15px 0;
	border-radius: var(--border-radius);
	color:black;
	border: none;
	outline: none;
	background-color:var(--sptfygrn);
	box-shadow: 3px 3px var(--sptfygrn);
	transform: translate(-1px, -1px);
}

.btn:hover {
	color:#0C8900;
	background-color: black;
	transform: translate(0, 0);
	box-shadow: 2px;
	cursor: pointer;
}

.btn-inline {
	display: inline;
}

.btn-back {
	border-radius: var(--border-radius);
	color: var(--primary);
	border: none;
	outline: none;
	background-color:var(--sptfygrn);
	box-shadow: 3px 3px var(--secondary);
	transform: translate(-1px, -1px);
	display: inline-block;
	width: auto;
	margin-top: 20px;
	padding: 15px;
	text-decoration: none;
	font-size: 1.2rem;
}

.btn-back:hover {
	color: var(--primary);
	background-color: var(--tertiary);
	transform: translate(0, 0);
	box-shadow: 2px 2px var(--sptfygrn);
}

.hero {
	padding: 3% 4%;
	background-color:black;
	color: var(--primary);
	justify-content: center;
	width: auto;
	border-bottom: 5px solid var(--sptfygrn);
	margin-bottom: 50px;
	padding-bottom: -20px;

}

.hero p {
	max-width: 75%;
	color: var(--sptfygrn)
}


.app-title {
	font-size: 3rem;
	background-color: black;
	color: var(--sptfygrn);
	padding: 0 10px;
	display: inline-block;
	border-radius: var(--border-radius);
	box-shadow: 6px 5px var(--light-dark);
}

.list-group {
	padding: 0;
	list-style: none;
}

.list-item {
	margin-bottom: 10px;
	padding: 1.5%;
	border-radius: var(--border-radius);
	background-color: var(--light-dark);
	color: var(--primary);
	text-decoration: none;
}

.list-item:hover {
	background-color: var(--sptfygrn);
}




/* CARDS */
.side-card {
	margin: 0 0 20px 0;
	border: 3px solid var(--sptfygrn);
	border-radius: var(--border-radius);
}
.history-card{
	margin: 0 0 20px 0;
	border: 3px solid var(--sptfygrn);
	border-radius: var(--border-radius);


}

.card-header {
	color: black;
	background-color: #1DB954;
	padding: 2.5%;
	border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
	border-bottom: 2px solid #1DB954;
	text-align: center;
	font-size: 32px;
}

.card-body {
	padding: 2.5%;
}

/* FORM */
.form-label,
.form-input,
.form-textarea {
	display: block;
}

.form-label-artist {
	font-size:20px;
	margin: 0 0 0 5px;
	text-align: center;
}

.form-input {
	width: 100%;
	padding: 3%;
	margin: 5px 0;
	font-size: 1.2rem;
	border: 2px solid var(--sptfygrn);
	border-radius: var(--border-radius);
}

/* HEIGHT / WIDTH UTILS */
.min-100-vh {
	min-height: 100vh;
}

.min-100-vw {
	min-width: 100vw;
}

/* FONT UTILS */
.text-uppercase {
	text-transform: uppercase;
}

/* FLEX CONTENT */
.flex-row {
	display: flex;
	flex-wrap: wrap;
}

.flex-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.justify-space-between {
	justify-content: space-between;
}

.justify-space-around {
	justify-content: space-around;
}

.justify-flex-start {
	justify-content: flex-start;
}

.justify-flex-end {
	justify-content: flex-end;
}

.justify-center {
	justify-content: center;
}

.align-stretch {
	align-items: stretch;
}

.align-end {
	align-items: flex-end;
}

.align-center {
	align-items: center;
}

.col-auto {
	flex-grow: 1;
}

.col-1 {
	flex: 0 0 calc(100% * 1 / 12 - 2%);
}

.col-2 {
	flex: 0 0 calc(100% * 2 / 12 - 2%);
}

.col-3 {
	flex: 0 0 calc(100% * 3 / 12 - 2%);
}

.col-4 {
	flex: 0 0 calc(100% * 4 / 12 - 2%);
}

.col-5 {
	flex: 0 0 calc(100% * 5 / 12 - 2%);
}

.col-6 {
	flex: 0 0 calc(100% * 6 / 12 - 2%);
}

.col-7 {
	flex: 0 0 calc(100% * 7 / 12 - 2%);
}

.col-8 {
	flex: 0 0 calc(100% * 8 / 12 - 2%);
}

.col-9 {
	flex: 0 0 calc(100% * 9 / 12 - 2%);
}

.col-10 {
	flex: 0 0 calc(100% * 10 / 12 - 2%);
}

.col-11 {
	flex: 0 0 calc(100% * 11 / 12 - 2%);
}

.col-12 {
	flex: 0 0 100%;
}

/* col-sm */
@media screen and (min-width: 640px) {
	.col-sm-1 {
		flex: 0 0 calc(100% * 1 / 12 - 2%);
	}

	.col-sm-2 {
		flex: 0 0 calc(100% * 2 / 12 - 2%);
	}

	.col-sm-3 {
		flex: 0 0 calc(100% * 3 / 12 - 2%);
	}

	.col-sm-4 {
		flex: 0 0 calc(100% * 4 / 12 - 2%);
	}

	.col-sm-5 {
		flex: 0 0 calc(100% * 5 / 12 - 2%);
	}

	.col-sm-6 {
		flex: 0 0 calc(100% * 6 / 12 - 2%);
	}

	.col-sm-7 {
		flex: 0 0 calc(100% * 7 / 12 - 2%);
	}

	.col-sm-8 {
		flex: 0 0 calc(100% * 8 / 12 - 2%);
	}

	.col-sm-9 {
		flex: 0 0 calc(100% * 9 / 12 - 2%);
	}

	.col-sm-10 {
		flex: 0 0 calc(100% * 10 / 12 - 2%);
	}

	.col-sm-11 {
		flex: 0 0 calc(100% * 11 / 12 - 2%);
	}

	.col-sm-12 {
		flex: 0 0 100%;
	}
}

/* col-md */
@media screen and (min-width: 768px) {
	.col-md-1 {
		flex: 0 0 calc(100% * 1 / 12 - 2%);
	}

	.col-md-2 {
		flex: 0 0 calc(100% * 2 / 12 - 2%);
	}

	.col-md-3 {
		flex: 0 0 calc(100% * 3 / 12 - 2%);
	}

	.col-md-4 {
		flex: 0 0 calc(100% * 4 / 12 - 2%);
	}

	.col-md-5 {
		flex: 0 0 calc(100% * 5 / 12 - 2%);
	}

	.col-md-6 {
		flex: 0 0 calc(100% * 6 / 12 - 2%);
	}

	.col-md-7 {
		flex: 0 0 calc(100% * 7 / 12 - 2%);
	}

	.col-md-8 {
		flex: 0 0 calc(100% * 8 / 12 - 2%);
	}

	.col-md-9 {
		flex: 0 0 calc(100% * 9 / 12 - 2%);
	}

	.col-md-10 {
		flex: 0 0 calc(100% * 10 / 12 - 2%);
	}

	.col-md-11 {
		flex: 0 0 calc(100% * 11 / 12 - 2%);
	}

	.col-md-12 {
		flex: 0 0 100%;
	}
}

/* col-lg */
@media screen and (min-width: 992px) {
	.col-lg-1 {
		flex: 0 0 calc(100% * 1 / 12 - 2%);
	}

	.col-lg-2 {
		flex: 0 0 calc(100% * 2 / 12 - 2%);
	}

	.col-lg-3 {
		flex: 0 0 calc(100% * 3 / 12 - 2%);
	}

	.col-lg-4 {
		flex: 0 0 calc(100% * 4 / 12 - 2%);
	}

	.col-lg-5 {
		flex: 0 0 calc(100% * 5 / 12 - 2%);
	}

	.col-lg-6 {
		flex: 0 0 calc(100% * 6 / 12 - 2%);
	}

	.col-lg-7 {
		flex: 0 0 calc(100% * 7 / 12 - 2%);
	}

	.col-lg-8 {
		flex: 0 0 calc(100% * 8 / 12 - 2%);
	}

	.col-lg-9 {
		flex: 0 0 calc(100% * 9 / 12 - 2%);
	}

	.col-lg-10 {
		flex: 0 0 calc(100% * 10 / 12 - 2%);
	}

	.col-lg-11 {
		flex: 0 0 calc(100% * 11 / 12 - 2%);
	}

	.col-lg-12 {
		flex: 0 0 100%;
	}
}

/* col-xl */
@media screen and (min-width: 1200px) {
	.col-xl-1 {
		flex: 0 0 calc(100% * 1 / 12 - 2%);
	}

	.col-xl-2 {
		flex: 0 0 calc(100% * 2 / 12 - 2%);
	}

	.col-xl-3 {
		flex: 0 0 calc(100% * 3 / 12 - 2%);
	}

	.col-xl-4 {
		flex: 0 0 calc(100% * 4 / 12 - 2%);
	}

	.col-xl-5 {
		flex: 0 0 calc(100% * 5 / 12 - 2%);
	}

	.col-xl-6 {
		flex: 0 0 calc(100% * 6 / 12 - 2%);
	}

	.col-xl-7 {
		flex: 0 0 calc(100% * 7 / 12 - 2%);
	}

	.col-xl-8 {
		flex: 0 0 calc(100% * 8 / 12 - 2%);
	}

	.col-xl-9 {
		flex: 0 0 calc(100% * 9 / 12 - 2%);
	}

	.col-xl-10 {
		flex: 0 0 calc(100% * 10 / 12 - 2%);
	}

	.col-xl-11 {
		flex: 0 0 calc(100% * 11 / 12 - 2%);
	}

	.col-xl-12 {
		flex: 0 0 100%;
	}
}
